/* for height and width, use 100vh and 100vw to set it to 100% viewer heigh and width. Very nice */


* {
  box-sizing: border-box;
}

html{
  background-color: #fcf8f3;
  height: 100%
}

.flex{
  display: flex;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.2em;
}

nav ul.flex{
  flex: 1 0 auto;
  margin: 0;
  padding: 0;  
}

nav li{
  flex: 1 0 auto;
  list-style: none;
  justify-content: space-around;
  min-width: 0;
  font-family: 'Proza Libre', sans-serif;
}

#nav-list {
  background-color: #fcf8f3;
  justify-content: space-around;
  padding-bottom: .7rem;
  padding-top: .2rem;
  border-bottom: 1px solid #5b6786;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

section {
  min-height: 1vh;
  padding: 0 4%;
  text-align: left;
  margin-bottom: 40px;
  justify-content: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

section.project{
  margin-top: 50px;
  margin-bottom: 125px;
}

.home{
  background-color: #fcf8f3;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10vh;
  
}

#home-link{
  font-size: 18px;

}

#projects-link{
  font-size: 16px;
}

#about-link{
  font-size: 16px;
}


.nav-link{ 
  text-decoration: none;
  padding: .3vw 2vw;
  margin-top: 2vh;
  color: #5b6786;
}

.nav-link:hover{
  border-bottom: 3px solid #5b6786;
}


.button-container{
  display: inline-block;
}

.button-solid{
  background-color: #5b6786;
  border-color: #5b6786;
  border-style: none;
  color: #fcf8f3;
  border-radius: 2px;
  min-height: 1.5rem;
  min-width: 5rem;
}

.button-solid:hover{
  background-color: #5b6786d8;
  border-color: #5b6786d8;
}

.button-border{
  background-color: #fcf8f3;
  border-color: #5b6786;
  border-style: solid;
  border-radius: 2px;
  min-height: 1.5rem;
  min-width: 5rem;
  color: #444;
}

.button-border:hover{
  background-color: #5b6786;
  border-color: #5b6786;
  border-style: none;
  color: #fcf8f3;
  background-color: #5b6786d8;
  border-color: #5b6786d8;
}

.project{
  flex-direction: column; 
  height: 90vh;
  
}

.project-title{
  margin-top:0;
  margin-bottom: 0;
}


.project-screenshot{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-item{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.technologies-container{
  padding-top: .8rem;
}

.about-me{
  height: 90vh;
  flex-direction: column;
  margin-top: 40px;
}

.tech-logo{
  width: 22px;
  display: inline-block;
  height: 22px;
  margin-right: 1rem;
}

.contact-logo{
  width: 35px;
  display: inline-block;
  height: 35px;
  margin-right: 1rem;
}

footer{
  background-color: #fcf8f3;
  color: rgb(204, 197, 197);
  position: fixed;
  font-size: .6em;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 50px;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;

}

.hidden{
  display: none;
}


/* colors: #fcf8f3, #aedadd, #db996c, #6e7da2  https://colorhunt.co/palette/135437 */


@media only screen and (min-width: 800px) {
  body{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  header{
    height: 75px;
  }

  main{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #nav-list{
    width: 30vw;
    padding-right: 7vw;
    border-bottom: 0;
    padding-bottom: 20vh;
  }

  section{
    width: 70vw;
    margin-bottom: 100px;
  }

  ul{
    flex-direction: column;
    justify-content: center;
    border-right:     1px solid #5b6786;
  }

  /* ul.flex{
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
    padding-right: 400vw;
  } */

  li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 120px;
    padding-right: 3vw;
  }

  footer{
    height: 50px;
    justify-content: center;
    width: 100%;
  }


}